*{
    margin: 0;
    padding: 0;
}


header{
    background-image:url(../imagenes/logo\ festival.png);
    background-position: center;
    background-repeat: no-repeat ;
    width: 1920px;
    height: 249px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    
}
nav a{
    padding: 10px 30px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    display: block;
    transition: all 0.5s;
}
nav a:hover{
    background-color: #3A763F;
    color: #fff;
}
.container{
    background-image: url(../imagenes/fondo\ contacto.png);
    background-position: center;
    background-repeat: no-repeat ;
    width: 1920px;
    height: 1326px;
}
    
h1{
    font-size: 77px;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: bold;

}
.container h1{
    
    color: #fff;
    padding: 350px 633px 0px 245px;
}

p1{
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: medium;
    text-align: justify;
}
.container p1{
    
    padding: 60px 980px 0px 245px;
    color: #fff;
    display: flex;
    
}


.form-register{
   
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: medium;
    padding: 70px 1800px 0px 240px;
    display: absolute;
    
    
}
.controls {
    width: 460px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    color: #7F7F7F;
    padding: 0px 0px 0px 28px;
    background-color: #fff;
    margin-bottom: 25px;
}
.boton{
    text-decoration: none;
    background-color: #B41412;
    border: 0px;
    padding: 37px 27px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: bold;
    cursor:pointer;
    width: 200px;
    height: 70px;
    border-radius: 5px;
    text-decoration: none;
   padding: 20px;
}


footer{
    padding: 117px 77px 113px 77px;
    background-image: url(../imagenes/footer.png);
    background-position:center ;
    background-repeat: no-repeat ;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: bold;

}
.aladerecha{
    text-align: right;
}